* {
   margin: 0;
   padding: 0;
}

ul {
   list-style: none;
   background-color: #2d2d2f;
}

body {
   height: 100%;
   background-color: #1d1d1f;
}

.score {
   color: #fff;
   text-align: center;
   font-size: 64px;
   margin-bottom: 2rem;
}

.playground>ul {
   border: 1px solid rgb(91, 91, 91);
   width: 300px;
   margin: 0 auto;
}

.playground>ul>li {
   width: 100%;
   height: 30px;
}

.playground>ul>li>ul {
   display: flex;
}

.playground>ul>li>ul>li {
   width: 30px;
   height: 30px;
}

.T{
   z-index: 10;
   background: #A000F0;
   border-style: solid;
   border-width: 4px;
   border-color: #E3B3FB #9101D8 #500178;
   box-sizing: border-box;
}

.O{
   z-index: 10;
   background: #F0F001;
   border-style: solid;
   border-width: 4px;
   border-color: #FBFCB3 #D8D802 #848500;
   box-sizing: border-box;
}

.I{
   z-index: 10;
   background: #04F0F0;
   border-style: solid;
   border-width: 4px;
   border-color: #B3FBFB #00D8D8 #047878;
   box-sizing: border-box;
}

.Z{
   z-index: 10;
   background: #F00001;
   border-style: solid;
   border-width: 4px;
   border-color: #FAB3B4 #D80200 #780000;
   box-sizing: border-box;
}

.S{
   z-index: 10;
   background: #01F000;
   border-style: solid;
   border-width: 4px;
   border-color: #B2FCB3 #00D800 #017801;
   box-sizing: border-box;
}

.L{
   z-index: 10;
   background: #F0A000;
   border-style: solid;
   border-width: 4px;
   border-color: #FBE4B3 #D89001 #785001;
   box-sizing: border-box;
}

.J{
   z-index: 10;
   background: #0100F0;
   border-style: solid;
   border-width: 4px;
   border-color: #B3B3FB #0000D8 #010078;
   box-sizing: border-box;
}